/* Configurações gerais */
 *{
  border: none;
  font-family: "Departure Mono";
  font-size: 11px;
  min-height: 10px;
}

/* Configurações da barra de fundo */
window#waybar {
  border: 2px solid #84C5B1;
  background-color: rgba(0,0,0,0.5);
  border-radius: 6px;
}

window#waybar.hidden {
  opacity: 0.1;
}

/* Configurações módulos da esquerda */
#custom-archicon,
#clock,
#slider,
#hardware,
#mtp,
#musica {
  color: rgba(0,0,0,1);
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;

}

/* Configurações especificas de módulos */

/* Módulos esquerda */
#custom-archicon {
  color: #1793d1;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#clock {
  background: rgba(98,88,121,0.8);
  border: 2px solid rgba(68,58,98,1);
  min-width: 100px;
}
#hardware {
  border: 2px solid rgba(132,195,183,1);
  border-radius: 6px;
  background: rgba(255,218,179,0.8);
}
#cpu {
  min-width: 35px;
  padding: 0px 4px 0px 4px;
}
#memory {
  padding: 0px 4px 0px 4px;
  min-width: 35px;
}
#temperature {
  padding: 0px 4px 0px 4px;
  min-width: 35px; 
}
#power-profiles-daemon {
  padding: 0px 0px 0px 4px;
  min-width: 35px;
}  
/* Módulos centro */

/* Módulos direita */
#musica {
  margin-right: 6px;
  border-radius: 6px;
  border: 2px solid rgba(132,195,183,1);
  min-width: 100px;
  background: rgba(183,189,247,0.8);
}
#pulseaudio-slider {
  min-width: 100px;
  margin-right: 8px;
  background: rgba(0,0,0,0);
}
#pulseaudio-slider slider {
  min-height: 5px;
  min-width: 10px;
  border: 2px solid rgba(140,78,130,1);
  border-radius: 76px;
  background: rgba(120,75,123,1);
}
#pulseaudio-slider trough {
  min-width: 150px;
  border-radius: 4px;
  background: rgba(183,140,190,1);
}
#pulseaudio-slider highlight {
  min-width: 1px;
  border-radius: 4px;
  background: rgba(180,89,170,1);
}

