window {w
    margin: 1px;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 6px;
    background-color: rgba(0,0,0,0.0);
    font-family: DepartureMono;
}

@keyframes erscheinen {
    from {opacity: 0;}
      to {opacity: 1;}
}

#input {
    margin: 0px;
    border: 2px solid rgba(218,249,222,0.8);    
    background-color: rgba(207,236,243,0.8);
    border-radius: 6px 6px 0px 0px;
    color: rgba(0,0,0,1);
}

#inner-box {
    margin: 0px;
    border-radius: 6px;
    border: 0px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0.3);
    color: rgba(0,0,0,0);
}

/* #inner-box flowboxchild:nth-child(even) { */
/*     background-color: #555555; */
/* } */

#outer-box {
    margin: 0px;
    border: 0px solid rgba(0,0,0,1.0);
    background-color: rgba(0,0,0,0.0);
}

#scroll {
    margin: 0px;
    border: 2px solid rgba(218,249,222,0.8);
    border-radius: 0px 0px 6px 6px;
    background-color: rgba(246,255,220,0.8);
    /* animation: erscheinen 0.3s linear; */
}

#text {
    margin: 4px;
    /* background-color: rgba(0,0,0,1.0); */
    color: rgba(0,0,0,1);
}

#entry:selected {
    color: rgba(0,0,0,1.0);
    background-color: rgba(30,30,30,0.6);
}
