window {
    margin: 1px;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 6px;
    background-color: rgba(0,0,0,0.0);
    font-family: DepartureMono;
}

@keyframes erscheinen {
    from {opacity: 0;}
      to {opacity: 1;}
}

#input {
    margin: 0px;
    border: 2px solid rgba(187,139,142,1);
    background-color: rgba(255,218,179,0.9);
    border-radius: 6px 6px 0px 0px;
    color: rgba(0,0,0,1);
}

#inner-box {
    margin: 0px;
    border-radius: 6px;
    border: 0px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0.3);
    color: rgba(0,0,0,0);
}

/* #inner-box flowboxchild:nth-child(even) { */
/*     background-color: #555555; */
/* } */

#outer-box {
    margin: 0px;
    border: 0px solid rgba(0,0,0,1.0);
    background-color: rgba(0,0,0,0.0);
}

#scroll {
    margin: 0px;
    border: 2px solid rgba(68,58,98,1);
    border-radius: 0px 0px 6px 6px;
    background-color: rgba(98,88,121,0.9);
    /* animation: erscheinen 0.3s linear; */
}

#text {
    margin: 4px;
    /* background-color: rgba(0,0,0,1.0); */
    color: rgba(102,197,255,1);
}

#entry:selected {
    color: rgba(0,0,0,1.0);
    background-color: rgba(98,88,121,0.9);
}
s
